In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.graph_objects as go
import plotly.figure_factory as ff
from plotly.subplots import make_subplots

In [2]:
gr1 = pd.read_csv('7min.txt', sep = ' ')

gr2 = pd.read_csv('30min.txt', sep = ' ')

gr3 = pd.read_csv('60min.txt', sep = ' ')

In [20]:
gr1.head()

   0.572  44879.00
0  1.950   51070.0
1  3.329   50063.0
2  4.707   58130.0
3  6.085   62944.0
4  7.463   75925.0

In [3]:
gr1.iloc[0,:] = gr1.columns
gr1.columns = ['RT','Int']
gr2.iloc[0,:] = gr2.columns
gr2.columns = ['RT','Int']
gr3.iloc[0,:] = gr3.columns
gr3.columns = ['RT','Int']

In [42]:
gr1.head()

         RT       Int
0  0.000318  44879.00
1  0.001849     50063
2  0.002614     58130
3  0.003379     62944
4  0.004144     75925

In [4]:
gr1['RT'] = gr1['RT'].astype('float')
t = np.amax(gr1['RT'].tolist())
gr1['RT'] = gr1['RT']/t

In [5]:
gr2['RT'] = gr2['RT'].astype('float')
t = np.amax(gr2['RT'].tolist())
gr2['RT'] = gr2['RT']/t

In [6]:
gr3['RT'] = gr3['RT'].astype('float')
t = np.amax(gr3['RT'].tolist())
gr3['RT'] = gr3['RT']/t

In [8]:
fig = go.Figure()
fig.add_trace(go.Scatter(x = gr1['RT'], y = gr1['Int'], fill = 'tozeroy', fillcolor = 'black',
                        line_color = 'black',
                        line = dict(width = 0.5)))
fig.update_layout(template = 'simple_white', height = 300, width = 350)
fig.update_yaxes(showticklabels = False)
fig.update_xaxes(showticklabels = False)
fig.write_image('fig1A.pdf')

In [9]:
fig = go.Figure()
fig.add_trace(go.Scatter(x = gr2['RT'], y = gr2['Int'], fill = 'tozeroy', fillcolor = 'black',
                        line_color = 'black',
                        line = dict(width = 0.5)))
fig.update_layout(template = 'simple_white', height = 300, width = 450)
fig.update_yaxes(showticklabels = False)
fig.update_xaxes(showticklabels = False)
fig.write_image('fig1B.pdf')

In [71]:
fig = go.Figure()
fig.add_trace(go.Scatter(x = gr3['RT'], y = gr3['Int'], fill = 'tozeroy', fillcolor = 'black',
                        line_color = 'black',
                        line = dict(width = 0.5)))
fig.update_layout(template = 'simple_white', height = 300, width = 800)
fig.update_yaxes(showticklabels = False)
fig.update_xaxes(showticklabels = False)
fig.write_image('fig1C.pdf')